In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
val = pd.read_csv('Data/test.csv', header = 0)
val.head()

,year,period,company_name,company_code,company_type,company_status,salary_debt_changes,salary_debt_mark,salary_average_changes,salary_average_mark,...,firmness_coefficient_end,firmness_coefficient_mark,solvency_coefficient_end,solvency_coefficient_mark,amortization_end,amortization_mark,audition_result,audition_mark,total_mark,final_assessment
0,2019,12,"ДЕРЖАВНЕ ПІДПРИЄМСТВО ""КИЇВСЬКИЙ ІНСТИТУТ ІНЖЕ...",113968,ДП,працює,0.0,2.0,109.3,1.0,...,1.21,1.0,0.55,1.0,83.11,0.0,NaN,0.0,9.0,задовільна
1,2019,12,Державний Проектно-Вишукувальний та Науково-До...,114092,ДП,працює; звітність не надано,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,неефективна
2,2019,12,"Державне підприємство ""Львівське конструкторсь...",130044,ДП,працює,0.0,2.0,127.3,1.0,...,0.86,0.0,0.46,0.0,51.17,1.0,NaN,0.0,11.0,задовільна
3,2019,12,"ДЕРЖАВНЕ ПІДПРИЄМСТВО ""НАУКОВО-ДОСЛІДНИЙ ІНСТИ...",130441,ДП,працює; перебуває у процедурі банкрутства - ро...,0.0,2.0,0.0,0.0,...,-0.46,0.0,-0.87,0.0,84.28,0.0,NaN,0.0,5.0,неефективна
4,2019,12,"ДП ""ПУГР""",147921,ДП,працює,0.0,2.0,100.8,1.0,...,2.92,1.0,0.74,1.0,95.19,0.0,NaN,0.0,8.0,неефективна

In [3]:
val.iloc[50:55, 33:34]

   final_assessment
50      неефективна
51      неефективна
52      неефективна
53       задовільна
54      неефективна

In [4]:
val = val.drop(['final_assessment'], axis=1)

In [5]:
val = val.iloc[50:55,:]

In [6]:
len(val['company_name'])

5

In [7]:
for i in range(len(val.company_name)):

    val.company_name.iloc[i] = re.sub('"', '', val.company_name.iloc[i], count=0)

/home/vitalii/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
v = val.to_json(force_ascii=False)

In [9]:
v

'{"year":{"50":2019,"51":2019,"52":2019,"53":2019,"54":2019},"period":{"50":12,"51":12,"52":12,"53":12,"54":12},"company_name":{"50":"Державне підприємство Волиньвугілля","51":"ДП Регіональні електричні мережі","52":"ДЕРЖАВНЕ ПІДПРИЄМСТВО УКРШАХТГІДРОЗАХИСТ","53":"Державне підприємство 38 відділ інженерно-технічних частин","54":"Державне підприємство Українські екологічні інвестиції"},"company_code":{"50":32365965,"51":32402870,"52":32442405,"53":33127487,"54":33312212},"company_type":{"50":"ДП","51":"ДП","52":"ДП","53":"ДП","54":"ДП"},"company_status":{"50":"працює; перебуває у процедурі реорганізації","51":"працює; перебуває у процедурі банкрутства - розпорядження майном","52":"працює; перебуває у процедурі реорганізації","53":"працює","54":"працює"},"salary_debt_changes":{"50":222.7,"51":54.1,"52":100.0,"53":0.0,"54":null},"salary_debt_mark":{"50":0.0,"51":1.0,"52":0.0,"53":2.0,"54":null},"salary_average_changes":{"50":120.7,"51":110.9,"52":111.4,"53":123.3,"54":null},"salary_average_mark":{"50":1.0,"51":1.0,"52":1.0,"53":1.0,"54":null},"financial_outturn_sales_percent":{"50":31.1,"51":101.5,"52":0.0,"53":136.7,"54":null},"financial_outturn_sales_mark":{"50":0.0,"51":1.0,"52":0.0,"53":1.0,"54":null},"financial_outturn_profit_percent":{"50":0.0,"51":0.0,"52":0.0,"53":112.0,"54":null},"financial_outturn_profit_mark":{"50":0.0,"51":0.0,"52":0.0,"53":1.0,"54":null},"financial_outturn_revenue_to_budget_percent":{"50":34.6,"51":0.0,"52":0.0,"53":184.0,"54":null},"financial_outturn_revenue_to_budget_mark":{"50":0.0,"51":0.0,"52":0.0,"53":1.0,"54":null},"financial_outturn_revenue_to_state_shareholder_percent":{"50":0.0,"51":0.0,"52":0.0,"53":0.0,"54":null},"financial_outturn_revenue_to_state_shareholder_mark":{"50":0.0,"51":0.0,"52":0.0,"53":0.0,"54":null},"financial_outturn_capital_investments_percent":{"50":96.6,"51":39.3,"52":0.0,"53":361.4,"54":null},"financial_outturn_capital_investments_mark":{"50":0.0,"51":0.0,"52":0.0,"53":1.0,"54":null},"profit_changes":{"50":152.0,"51":439.0,"52":16.0,"53":273.5,"54":null},"profit_mark":{"50":0.0,"51":0.0,"52":3.0,"53":5.0,"54":null},"covering_coefficient_end":{"50":0.04,"51":0.76,"52":0.01,"53":1.31,"54":null},"covering_coefficient_mark":{"50":0.0,"51":0.0,"52":0.0,"53":1.0,"54":null},"firmness_coefficient_end":{"50":-0.93,"51":-0.19,"52":-0.82,"53":0.27,"54":null},"firmness_coefficient_mark":{"50":0.0,"51":0.0,"52":0.0,"53":0.0,"54":null},"solvency_coefficient_end":{"50":-9.18,"51":-0.24,"52":-2.1,"53":0.07,"54":null},"solvency_coefficient_mark":{"50":0.0,"51":0.0,"52":0.0,"53":0.0,"54":null},"amortization_end":{"50":88.01,"51":94.83,"52":47.78,"53":71.92,"54":null},"amortization_mark":{"50":0.0,"51":0.0,"52":1.0,"53":0.0,"54":null},"audition_result":{"50":null,"51":null,"52":null,"53":null,"54":null},"audition_mark":{"50":0.0,"51":0.0,"52":0.0,"53":0.0,"54":null},"total_mark":{"50":1.0,"51":3.0,"52":5.0,"53":13.0,"54":0.0}}'