In [3]:
import pandas as pd
import numpy as np

In [4]:
val = pd.read_csv('Data/test.csv', header = 0)
val.head()

,year,period,company_name,company_code,company_type,company_status,salary_debt_changes,salary_debt_mark,salary_average_changes,salary_average_mark,...,firmness_coefficient_end,firmness_coefficient_mark,solvency_coefficient_end,solvency_coefficient_mark,amortization_end,amortization_mark,audition_result,audition_mark,total_mark,final_assessment
0,2019,12,"ДЕРЖАВНЕ ПІДПРИЄМСТВО ""КИЇВСЬКИЙ ІНСТИТУТ ІНЖЕ...",113968,ДП,працює,0.0,2.0,109.3,1.0,...,1.21,1.0,0.55,1.0,83.11,0.0,NaN,0.0,9.0,задовільна
1,2019,12,Державний Проектно-Вишукувальний та Науково-До...,114092,ДП,працює; звітність не надано,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,неефективна
2,2019,12,"Державне підприємство ""Львівське конструкторсь...",130044,ДП,працює,0.0,2.0,127.3,1.0,...,0.86,0.0,0.46,0.0,51.17,1.0,NaN,0.0,11.0,задовільна
3,2019,12,"ДЕРЖАВНЕ ПІДПРИЄМСТВО ""НАУКОВО-ДОСЛІДНИЙ ІНСТИ...",130441,ДП,працює; перебуває у процедурі банкрутства - ро...,0.0,2.0,0.0,0.0,...,-0.46,0.0,-0.87,0.0,84.28,0.0,NaN,0.0,5.0,неефективна
4,2019,12,"ДП ""ПУГР""",147921,ДП,працює,0.0,2.0,100.8,1.0,...,2.92,1.0,0.74,1.0,95.19,0.0,NaN,0.0,8.0,неефективна

In [5]:
val.iloc[150:155, 33:34]

Empty DataFrame
Columns: [final_assessment]
Index: []

In [6]:
{
  "prediction": [
    0,
    1,
    1,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    1
  ]
}

{'prediction': [0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1]}

In [7]:
val = val.drop(['final_assessment'], axis=1)

In [8]:
val = val.iloc[150:155,:]

In [9]:
v = val.to_json()

In [10]:
v

'{"year":{},"period":{},"company_name":{},"company_code":{},"company_type":{},"company_status":{},"salary_debt_changes":{},"salary_debt_mark":{},"salary_average_changes":{},"salary_average_mark":{},"financial_outturn_sales_percent":{},"financial_outturn_sales_mark":{},"financial_outturn_profit_percent":{},"financial_outturn_profit_mark":{},"financial_outturn_revenue_to_budget_percent":{},"financial_outturn_revenue_to_budget_mark":{},"financial_outturn_revenue_to_state_shareholder_percent":{},"financial_outturn_revenue_to_state_shareholder_mark":{},"financial_outturn_capital_investments_percent":{},"financial_outturn_capital_investments_mark":{},"profit_changes":{},"profit_mark":{},"covering_coefficient_end":{},"covering_coefficient_mark":{},"firmness_coefficient_end":{},"firmness_coefficient_mark":{},"solvency_coefficient_end":{},"solvency_coefficient_mark":{},"amortization_end":{},"amortization_mark":{},"audition_result":{},"audition_mark":{},"total_mark":{}}'